<!-- section 5 -->
<div id="section-5" class="section-5-main-div">
  <a class="section-5-logo" href="#section-1"><h3>BleedForGood</h3></a>
  <div class="section-5-text-links-div">
    <a class="section-5-text-link" href="/bank/account/profile">Profile</a>
    <a class="section-5-text-link" href="/bank/account/availability">Availability</a>
    <a class="section-5-text-link" href="">Requests</a>
    <a class="section-5-text-link" href="">Donors</a>
    <a class="section-5-text-link" href="">Recievers</a>
    <a class="section-5-text-link" href="/logout">Logout</a>
  </div>
</div>

</body>
</html>
