<%- include('partials/about-pages-partials/about-pages-header'); -%>

<div class="col-md-6 about-img-div">
  <img src="../public/img/giphy.gif" alt="Image" class="about-img">
  <!-- about.jpg -->
</div>

<div class="col-md-6 about-text-div">
  <h4>About Us</h4>
  <p class="about-p">Our blood donation teams collect around almost a million units of blood every year from donors who voluntarily give their time to help people they don’t know. Donation sessions usually take place in the community and it’s up to our teams to make sure donors have the best experience. Blood bank is taking all precautions for the staff, blood donor and patient attended by using thermal scanners, disinfectant cleaning of couches, gloves, masks, maintaining distance etc. The Society is fully equipped to collect blood within the premises of the Blood Centre and also has mobile teams which go out regularly to hold Blood Donation Camps. The mobile teams cover different parts of India. Blood donation camps are organized in schools, colleges and other places with the help of religious, social, political, commercial, and military / paramilitary organizations.</p>
</div>

<%- include('partials/about-pages-partials/about-pages-footer'); -%>
