<%- include('partials/about-pages-partials/about-pages-header'); -%>

<div class="col-md-6 about-img-div">
  <img class="about-img" src="../public/img/giphy.gif" alt="Image">
</div>

<div class="col-md-6 about-text-div">
  <h4>Benefits</h4>
  <ul class="about-p">
    <li>In one sitting, 450 ml blood is donated.</li>
    <li>It takes only 36 hours to replace lost blood by body.</li>
    <li>One sitting of donation amounts to less than 10% of adults total blood volume.</li>
    <li>Up to three lives can be saved by one sitting of donation.</li>
    <li>One out of every three of us need blood transfusion during our lifetime.</li>
    <li>In India, someone needs blood every two seconds.</li>
    <li>Donating blood lowers cholesterol in the body.</li>
    <li>The lipid levels in the body are lowered when blood is donated.</li>
    <li>Blood donation helps in decreasing incidence of heart attack/strokes.</li>
  </ul>
</div>

<%- include('partials/about-pages-partials/about-pages-footer'); -%>
