<%- include('partials/about-pages-partials/about-pages-header'); -%>

<div class="col-md-6 about-img-div">
  <img class="about-img" src="../public/img/giphy.gif" alt="Image">
</div>

<div class="col-md-6 about-text-div">
  <h4>Event</h4>
  <p class="about-p">World Blood Donor Day was established in 2004 by the World Health Organization (WHO) on June 14, which also marks the birth anniversary of Karl Landsteiner who won the Nobel Prize for Medicine in 1930 for his work in classifying blood types.The Day was created to raise global awareness of the need for safe blood and blood products for transfusion, highlight the critical contribution voluntary, unpaid blood donors make to national health systems and support national blood transfusion services, blood donor organizations and other nongovernmental organizations in strengthening and expanding their voluntary blood donor programmes by reinforcing national and local campaigns. The day also provides an opportunity to call to action governments and national health authorities to provide adequate resources to increase the collection of blood from voluntary, unpaid blood donors and to manage access to blood and the transfusion of those who require it. </p>
</div>

<%- include('partials/about-pages-partials/about-pages-footer'); -%>
