<%- include('partials/about-pages-partials/about-pages-header'); -%>

<div class="col-md-6 about-img-div">
  <img class="about-img" src="../public/img/features.jpg" alt="Image">
</div>

<div class="col-md-6 about-text-div">
  <h4>Features</h4>
  <p class="about-p">Successful past projects have included everything from producing television advertisements to donating technical manuals and supplying red cell exchange consumables to providing consultancy. Our communication and promotional tools help with public engagement, and our training support assists with all aspects of donor recruitment, retention and management. We also offer grants for innovative recruitment approaches. Donors are vital to our mission and you can be one simply by making a direct donation. </p>
</div>

<%- include('partials/about-pages-partials/about-pages-footer'); -%>
