<%- include('partials/about-pages-partials/about-pages-header'); -%>

<div class="col-md-6 about-img-div">
  <img class="about-img" src="../public/img/guidelines.jpg" alt="Image">
</div>

<div class="col-md-6 about-text-div">
  <h4>Guidelines</h4>
  <p class="about-p">You can donate blood if</p>
  <ul class="about-p">
    <li>your weight is 45kg or above</li>
    <li>your age is 18-60 years</li>
    <li>your haemoglobin is 12.5gm / 100ml</li>
    <li>your blood pressure is normal</li>
    <li>your pulse rate is 60-100 per minute</li>
  </ul>

  <p class="about-p">On the day of donation</p>
  <ul class="about-p">
    <li>take proper rest</li>
    <li>eat light meal</li>
    <li>drink adequate amount of water</li>
  </ul>

  <p class="about-p">After the donation session gets over</p>
  <ul class="about-p">
    <li>drink lots of fluids for next 24 hours</li>
    <li>avoid smoking for next one hour</li>
    <li>avoid alcohol intake till next meal</li>
  </ul>
</div>

<%- include('partials/about-pages-partials/about-pages-footer'); -%>
